/* #### Text */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background: #c180ec;
  background: -webkit-gradient(linear, left top, left bottom, from(#c180ec), to(#7978e9));
  background: linear-gradient(180deg, #c180ec 0%, #7978e9 100%);
}

body {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

main {
  width: 87vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12em;
}

.container {
  width: 87vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: white;
  border-radius: 2em;
  -webkit-box-shadow: 0px 42px 111px -41px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 42px 111px -41px rgba(0, 0, 0, 0.69);
}

.images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-104px);
          transform: translateY(-104px);
  margin-bottom: -12.4em;
}

.icon-down {
  position: absolute;
  right: 45px;
  margin-top: 2px;
}

h1 {
  text-align: center;
  font-size: 31px;
  margin-bottom: 18px;
}

.hero {
  width: 72%;
}

.shadow {
  -webkit-transform: translateY(-71px);
          transform: translateY(-71px);
}

.faq {
  margin-bottom: 50px;
  padding: 0 5px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  color: #787887;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.border-box-before {
  width: 90%;
  border-bottom: 1px solid #787887;
  -webkit-transform: translateX(6%);
          transform: translateX(6%);
  margin-top: 2px;
  opacity: 0.2;
}

.border-box-after {
  border-bottom: 1px solid #787887;
  width: 100%;
  margin-top: 18px;
  opacity: 0.2;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: white;
  font-weight: bold;
  color: black;
  padding: 15px;
  margin-top: 2px;
}

.active .icon-down, .accordion:hover .icon-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  right: 45px;
  margin-top: 2px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  color: #787887;
  font-size: 12px;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  line-height: 17px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  margin-top: 11px;
  font-weight: 600;
}

.attribution a {
  color: #68e1fd;
}

.litle-box {
  display: none;
}

.hero-desktop {
  display: none;
}

.shadow-desktop {
  display: none;
}

@media (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 64vw;
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
    min-height: 42.4em;
  }
  .container body {
    z-index: 2;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0em;
  }
  h1 {
    text-align: left;
    -webkit-transform: translate(18px, 0px);
            transform: translate(18px, 0px);
  }
  .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    overflow: hidden;
  }
  .hero {
    display: none;
  }
  .shadow {
    display: none;
  }
  .hero-desktop {
    display: block;
    top: 2px;
    -webkit-transform: translate(-65px, 65px);
            transform: translate(-65px, 65px);
  }
  .shadow-desktop {
    display: block;
    position: absolute;
    top: -299px;
    left: -578px;
    z-index: 0;
  }
  .litle-box {
    display: block;
    position: absolute;
    top: 196px;
    left: -90px;
    z-index: 1;
  }
  .div-boutons {
    width: 350px;
  }
  .faq {
    -webkit-transform: translate(5px, 66px);
            transform: translate(5px, 66px);
  }
  .icon-down {
    position: absolute;
    right: 9px;
    margin-top: 4px;
  }
  .accordion {
    padding: 16px;
  }
  .active .icon-down, .accordion:hover .icon-down {
    right: 10px;
  }
  .attribution {
    margin-top: 2em;
  }
}
/*# sourceMappingURL=style.css.map */